{% extends 'base.html' %}
{% load static %}

{% block title %} Home - Homebroker {% endblock %}

<!-- {% block styles %}
  <style>
    img {
      width: 125px;
      height: 124px;
      border-radius: 14px;
    }
  </style>
{% endblock %} -->

{% block content %} 
<style>
  img {
    width: 165px;
    height: 235px;
    border-radius: 14px;
  }

  th,td {
    text-align: center; 
    vertical-align: middle;
  }
</style>
{% if user.is_authenticated %}
  <div class="container my-4">
    <div class="card bg-dark text-light">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-column">
            <h3 class="card-title">Investor Information</h3>
            <label><strong class="mr-3">Nome:</strong> {{investor.name}} </label>
            <label><strong class="mr-3">Email:</strong> {{user.email}} </label>
            <label><strong class="mr-3">Risk Profile:</strong> 
              {% if investor.risk_profile == 'CS' %}
                <label class="text-primary">Conservate</label>
              {% elif investor.risk_profile == 'MT' %}
                <label class="text-warning">Moderate</label>
              {% elif investor.risk_profile == 'DG' %}
              <label class="text-danger">Dashing</label>
              {% endif %} 
            </label>

            <label class="d-flex flex-column mt-4">
              <strong class="mr-3">Total Invested:</strong> 
              <h4 class="text-success">R$ {{wallet.sum}}</h4>
            </label>
          </div>
          <div>
            <img src="{% static 'img/iron-man.png' %}" alt="Imagem do usuário">
          </div>
        </div>
      </div>
    </div>

    <div class="card border-dark mt-3">
      <div class="card-header">Sumary of Operations</div>
      <div class="card-body">
        <div class="">
          <table class="table table-hover">
            <thead>
              <tr class="">
                <th scope="col">Nama Share</th>
                <th scope="col">Number Shares</th>
                <th scope="col">Average Price</th>
                <th scope="col">Total Moved</th>
              </tr>
            </thead>
            <tbody>
              {% for operation in operations %}
                <tr>
                  <td>{{operation.share_name}}</td>
                  <td>{{operation.sum_shares}}</td>
                  <td class="text-info">R$ {{ operation.avg }} </td>
                  <td class="text-secondary">R$ {{operation.sum}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% else %}
  <div class="container my-4">
    <h3>Bem-vindo,</h3>
    <br>
    <h4>Faça <strong>LOGIN</strong> para acessar o resumo da sua carteira...</h4>

    <a href="{% url 'login_form' %}" class="btn btn-outline-primary">Login</a>

    <br>
    <br>

    <h4>Ainda não possui conta?</h4>
    <a href="{% url 'create_form' %}" class="btn">Create Account</a>
  </div>
{% endif%}

{% endblock %}

{% block footer %} {% endblock %}